
div:nth-child(odd){
    background-color: yellow;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid; 
    }

div:nth-child(even){
 background-color: green;
 height: 50px;
 width: 50px;
 display: inline-block;
 border: 1px solid; 
 position: relative;
 top: 25px;
}